<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MYEBOOK</h1>
    <hr>
    <h1> Hi <%= @user.name %>.
    </h1>
    <p>
      The book '<%= @ebook.title %>' is now available. You can't lose!
    </p>
    <br>
    <p>Thanks for choosing us and have a great day!</p>
  </body>
</html>
