<div class="container" id="home-container">
  <div class="jumbotron text-left text-secondary ">
    <h3 class="description"> Trending Now in eBooks </h3>
    <hr class="my-4">

    <h3 class="description"> New releases you don't want to miss </h3>
    <hr class="my-4">
  </div>
</div>

