<h1 class="text-center mt-4">Ebooks</h1>
<div class="text-center">
  <%= link_to "Add Ebook", new_ebook_path, class: "btn btn-outline-danger" %>
</div>

<div class="container">
  <div class="row">
    <% @ebooks.each do |ebook| %>
        <div class="col-12 col-lg-4 mt-4">
            <div class="card h-100" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="image">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to ebook.title, ebook_path(ebook), class: "a-primary" %>
                </h5>
                <h6 class="card-title"><%= ebook.date_release %></h6>
                <p class="card-text"><%= truncate(ebook.description, length: 100)  %></p>
                <a href="#" class="btn btn-danger mt-4">Buy</a>
              </div>
            </div>
        </div>
    <% end %>
  </div>
</div>

